/* <<<<<<<<<<<<<<<<<<<<<<< navbar css start >>>>>>>>>>>>>>>>>>>>>>>>  */
.bg-color {
    background-color: #A6B1E1;
    color: white;
  }
  .nav-btn{
    background-color: #424874;
    color: white;
  }
  .nav-element{
    /* color: #292524; */
    color: white;
  }
  /*<<<<<<<<<<<<<<<<<<<<< navbar css end  >>>>>>>>>>>>>>>>>>>>>>>>*/